/* CSS styles */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; /* Set default text color to white */
  text-transform: uppercase; /* Convert text to uppercase */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease, background-color 0.3s ease; /* Add transition for color and background-color changes */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative; /* Make body a reference for absolute positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Fallback color */
  background-image: linear-gradient(to bottom right, #f0f0f0, #ffffff);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Default background color */
}

h1 {
  font-family: "Raleway";
  font-weight: 200;
  padding: 1vw;
  font-size: 24px; /* Reduced font size */
  z-index: 1; /* Ensure the heading is above the container */
  position: absolute;
  top: 1vw;
  left: 1vw;
}

h2 {
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 200;
  text-transform: uppercase; /* Convert text to uppercase */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instruction-text {
  font-size: 20px; /* Reduced font size */
  font-family: "Raleway";
  font-weight: 200;
  text-align: center;
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Ensure the text is above the container */
}

.color-change-button {
  display: none;
  font-family: "Raleway";
  font-weight: 200;
  padding: 5px;
  border: 1px solid black; /* Set border to 1px solid black */
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent; /* Remove background color */
  margin-bottom: 10vh; /* Add margin bottom of 10vh */
}

.social-container {
  position: absolute;
  bottom: 40px; /* Adjusted to create space for the button */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-text {
  font-size: 18px; /* Reduced font size */
  margin: 0 10px;
  font-family: "Raleway";
  font-weight: 200; /* Add some margin between texts */
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 18px;
  }
  .instruction-text {
    font-size: 16px;
  }
  .social-text {
    font-size: 14px;
  }
  .color-change-button {
    display: block;
    position: absolute;
    top: calc(50% + 30vh); /* Adjusted position */
    left: 50%;
    transform: translateX(-50%);
  }
  .instruction-text {
    display: none;
  }
}
